body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background: #849d8f;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
}
/* site-wrapper */

.site-wrapper {
  min-width: 1200px;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}
.site-wrapper:before,
.site-wrapper:after {
  background-image: url(../img/ice_cream2.png);
}
.site-wrapper:after {
  background-image: url(../img/ice_cream3.png);
}
h1 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Roboto", "Arial Black", sans-serif;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  font-family: "Roboto", "Arial", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.link:hover {
  color: #e84d37;
  border-bottom-color: #e84d37;
}
.link:active {
  color: #e84d37;
  border-bottom-color: #e84d37;
}
/* header */

.main-header__container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
}
.main-header__container::after {
  content: '';
  display: table;
  clear: both;
}
.main-header__logo {
  width: 154px;
  margin: 0;
  margin-left: -6px;
  margin-top: 10px;
  float: left;
  padding-right: 8px;
}
.main-header__logo img {
  width: 154px;
  height: 64px;
}
/* form-view */

.form-view {
  background: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.input-container {
  position: relative;
}
.input-view {
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 13px 0;
  padding-left: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #323232;
}
.label__form {
  opacity: 0;
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 11px;
  line-height: 13px;
  color: #999999;
}
.input-view:focus ~ .label__form,
.input-view:valid ~ .label__form {
  opacity: 1;
  color: #5b9ddf;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}
.input-view:not(:focus) ~ .label__form {
  color: #999999;
}
.input-view:hover {
  box-shadow: 0 0 0 1px #d3d3d2;
}
::-webkit-input-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
/* btn */

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 35px;
}
/* btn-red */

.btn-red {
  background: #f26843;
  background: -webkit-linear-gradient(#f26843, #e84c35);
  background: linear-gradient(#f26843, #e84c35);
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  font-weight: 700;
  box-shadow: 0 1px 2px 0 #ac1000;
  text-decoration: none;
}
.btn-red:hover {
  background: -webkit-linear-gradient(#f58669, #ec6f5e);
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.btn-red:active {
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/* main-menu */

.main-header__main-menu {
  width: 690px;
  float: left;
  margin-top: 23px;
  margin-left: 7px;
}
.main-header__navigation {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.main-header__menu {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.main-header__menu--active:hover .navigation-hidden {
  display: block;
}
.main-header__link {
  padding: 7px 14px;
  color: #ffffff;
  text-decoration: none;
}
.main-header__link:active {
  box-shadow: inset 0 2px 2px 0 #696969;
}
.main-header__link::after {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}
.main-header__link:hover {
  background: #f7f6f3;
  color: #323232;
}
.main-header__link:hover::after {
  border: none;
}
.header-link {
  display: block;
}
.main-header__link--active::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 100px;
  height: 10px;
}
.catalog .main-header__link--active {
  background: #d07058;
  color: #ffffff;
}
.catalog .main-header__link--active:hover {
  color: #323232;
}
.catalog .main-header__link--active::after {
  border: none;
}
/* main-menu__hidden */

.navigation-hidden {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -6px;
  top: 38px;
  border-radius: 5px;
  background: #f8f7f4;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 1;
  display: none;
}
.navigation-hidden__item--border {
  margin: 0 7px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
.navigation-hidden__item:last-child {
  padding-bottom: 4px;
}
.navigation-hidden__link--bold {
  font-weight: 700;
  margin: 0 -7px;
}
.navigation-hidden__link {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 23px;
  padding-top: 9px;
  padding-bottom: 7px;
  color: #323232;
}
.navigation-hidden__link:hover {
  background: #fbded8;
}
.navigation-hidden__link:active {
  background: #f6b5a5;
}
.catalog .navigation-hidden__link--visible {
  background: #d07058;
  color: #ffffff;
}
/* user-block */

.user-block {
  width: 268px;
  float: left;
  padding-left: 25px;
  margin-top: 22px;
  font-size: 0;
}
.user-block__elem {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}
.user-block__elem:not(:last-child) {
  margin-right: 9px;
}
.btn__user-block {
  display: block;
  color: #ffffff;
  padding: 9px 16px;
  padding-left: 45px;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
}
/* search-block */

.user-block__search-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}
.user-block__search-block:hover .search-hidden {
  display: block;
}
.user-block__search {
  padding: 0;
  margin-left: 5px;
  border: none;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../img/loupe.svg) no-repeat 50% 50%;
}
.user-block__search:hover {
  background: #f8f7f4 url(../img/loupe_black.svg) no-repeat 50% 50%;
}
/* search-block__hidden */

.search-hidden {
  display: none;
  position: absolute;
  top: 38px;
  right: -1px;
  z-index: -1;
}
.search-hidden::before {
  content: '';
  position: absolute;
  top: -40px;
  width: 341px;
  height: 50px;
}
.search-hidden__form {
  padding: 19px 16px;
}
.search-hidden__input {
  width: 310px;
}
/* login-block */

.user-block__login-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 2;
}
.user-block__login-block:hover .user-block__form {
  display: block;
}
.user-block__login {
  background: rgba(255, 255, 255, 0.2) url(../img/enter.svg) no-repeat 18px 49%;
}
.user-block__login:hover {
  background: #f8f7f4 url(../img/enter_black.svg) no-repeat 18px 49%;
  color: #323232;
}
/* login-block__hidden */

.user-block__form {
  position: absolute;
  top: 37px;
  right: -3px;
  display: none;
  z-index: -1;
}
.user-block__form::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width: 93px;
  height: 10px;
}
.login-form {
  padding: 21px 0;
  padding-left: 19px;
  padding-right: 17px;
}
.login-form__input {
  width: 225px;
  margin-bottom: 19px;
}
.login-form__links {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
.login-form__links:last-child {
  margin-top: -3px;
}
.login-form__link {
  color: #323232;
}
.login-form__btn {
  border: none;
  padding: 11px 25px;
  float: left;
  margin-right: 20px;
  margin-bottom: 21px;
}
/* cart-block */

.user-block__cart-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.user-block__cart {
  padding-right: 33px;
  background: rgba(255, 255, 255, 0.2) url(../img/basket.svg) no-repeat 18px 49%;
}
.catalog .user-block__cart {
  padding-right: 15px;
  background: #f7f6f3 url(../img/basket_full.png) no-repeat 18px 49%;
  color: #323232;
}
.user-block__cart:hover {
  background: #f8f7f4 url(../img/basket_black.svg) no-repeat 18px 49%;
  color: #323232;
}
.user-block__cart-block--active:hover .cart-hidden {
  display: block;
}
.catalog .user-block__cart:hover {
  background: #f7f6f3 url(../img/basket_full.png) no-repeat 18px 49%;
}
/* cart-block__hidden */

.cart-hidden {
  display: none;
  position: absolute;
  top: 37px;
  right: -3px;
  width: 540px;
  min-height: 242px;
  box-sizing: border-box;
  padding: 0 17px;
  padding-top: 30px;
  background-color: #f8f7f4;
  z-index: 1;
}
.cart-hidden::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 0;
  width: 120px;
  height: 10px;
}
.cart-hidden__container {
  padding-bottom: 16px;
  border-bottom: 1px solid #cacac7;
}
.cart-hidden__container::after {
  content: '';
  display: table;
  clear: both;
}
.cart-hidden__cart-content {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.cart-hidden__content1 {
  margin-bottom: 25px;
}
.cart-hidden__item {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}
.cart-hidden__link {
  text-decoration: none;
  color: #323232;
}
.cart-hidden__preview {
  margin-right: 13px;
}
.cart-hidden__product {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  padding-left: 24px;
  position: relative;
}
.cart-hidden__text {
  margin-right: 32px;
}
.cart-hidden__price {
  margin-right: 30px;
}
.cart-hidden__text--grey {
  color: #999999;
}
.btn__del {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 12px;
  left: 1px;
  font-size: 0;
  background: #f8f7f4;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn__del::before,
.btn__del::after {
  content: " ";
  position: absolute;
  top: 4px;
  left: 0;
  width: 11px;
  height: 1px;
  background: #333333;
}
.btn__del::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn__del::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cart-hidden__order {
  float: right;
}
.cart-hidden__order::after {
  content: '';
  display: table;
  clear: both;
}
.cart-hidden__sum {
  float: right;
  margin-top: 14px;
  margin-right: -5px;
  margin-bottom: 13px;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  font-weight: 700;
}
.sum__container::after {
  content: '';
  display: table;
  clear: both;
}
.order-form__input {
  padding: 11px 15px;
  margin-right: -3px;
}
/* header-information */

.user-block__text {
  position: absolute;
  top: 73px;
  right: 26px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
}
.user-block__working {
  margin-bottom: 9px;
}
.user-block__text--bold {
  font-size: 22px;
  line-height: 24px;
  font-weight: 900;
  font-family: "Roboto", "Arial Black", sans-serif;
  margin-top: -5px;
}
/* main */

main {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.catalog main::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -30px;
  width: 1146px;
  height: 2px;
  background: rgba(225, 225, 225, 0.3);
}
.main__caption {
  font-size: 35px;
  line-height: 31px;
  font-weight: 700px;
  margin: 0;
}
/* slider */

.slider {
  position: relative;
  padding-top: 312px;
  text-align: center;
}
.slide {
  display: none;
}
.slide__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.slide__btn {
  display: inline-block;
  vertical-align: top;
  padding: 10px 41px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.slider-btn__toggle {
  display: none;
}
.slader-control {
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 20;
  font-size: 0;
}
.slader-control__label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slader-control__label:hover {
  background: rgba(250, 250, 250, 0.4);
}
#slider-btn1:checked ~ .site-wrapper #slide1,
#slider-btn2:checked ~ .site-wrapper #slide2,
#slider-btn3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#slider-btn1:checked ~ .site-wrapper label[for="slider-btn1"],
#slider-btn2:checked ~ .site-wrapper label[for="slider-btn2"],
#slider-btn3:checked ~ .site-wrapper label[for="slider-btn3"] {
  background-color: #ffffff;
}
#slider-btn1:checked ~ .site-wrapper {
  background: #849d8f url(../img/ice_cream1.png) no-repeat top center;
}
#slider-btn2:checked ~ .site-wrapper {
  background: #8996a6 url(../img/ice_cream2.png) no-repeat top center;
}
#slider-btn3:checked ~ .site-wrapper {
  background: #9d8b84 url(../img/ice_cream3.png) no-repeat top center;
}
/* breadcrumbs */

.breadcrumbs {
  margin-top: 20px;
}
.breadcrumbs__navigation {
  margin: 0;
  font-size: 0;
  padding: 0;
}
.breadcrumbs__item {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 21px;
}
.breadcrumbs__link {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}
.breadcrumbs__link:not(.breadcrumbs__link--text-decoration)::after {
  content: '»';
  position: absolute;
  top: 0;
  right: -15px;
}
.breadcrumbs__link--text-decoration {
  border: none;
}
/* filter */

.filter::after {
  content: '';
  display: table;
  clear: both;
}
.filter-top {
  margin-top: 53px;
  margin-bottom: 37px;
}
.filter-bottom {
  margin-bottom: 40px;
}
.filter__container {
  float: left;
  font-size: 0;
}
.filter-category {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}
.filter__caption {
  position: absolute;
  top: -21px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
}
/* filter-sort */

.filter__sort {
  width: 193px;
  height: 37px;
}
.filter__select-sort {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: relative;
  overflow: hidden;
}
.filter__select {
  width: 210px;
  height: 37px;
  padding-left: 12px;
  border: none;
  outline: none;
  background: none;
  color: #ffffff;
}
.filter__select-sort::after {
  content: '';
  position: absolute;
  top: 16px;
  left: 171px;
  border: 4px solid transparent;
  border-top: 5px solid #ffffff;
  z-index: -1;
}
.filter__select:hover {
  background: #ffffff;
  color: #323232;
}
.filter__select-sort:hover::after {
  border-top: 5px solid #323232;
  z-index: auto;
}
/* filter-cost */

.filter__cost {
  box-sizing: border-box;
  width: 220px;
  padding: 16px;
}
.price-controls {
  font-size: 0;
}
.cost-label {
  margin-top: -17px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  cursor: pointer;
}
.filter__min-price {
  margin-right: 18px;
  margin-left: 40px;
}
.filter__max-price::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 98px;
  width: 7px;
  height: 2px;
  background: #ffffff;
}
.cost__price {
  width: 26px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
}
.range-controls__toggle {
  position: absolute;
  top: -9px;
  width: 21px;
  height: 21px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.range-controls__toggle:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.range-controls__toggle--min {
  left: 20px;
}
.range-controls__toggle--max {
  left: 117px;
}
.range-controls__scale {
  height: 4px;
  background: rgba(209, 218, 211, 0.5);
}
.scale__bar {
  width: 50%;
  margin-left: 30px;
  height: 4px;
  background: #ffffff;
}
/* filter-fatness */

.filter__fatness {
  box-sizing: border-box;
  width: 415px;
  height: 37px;
  font-size: 0;
}
.percent-fatness__percent {
  display: none;
}
.percent-fatness__label {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  margin-top: 11px;
  padding-left: 48px;
  cursor: pointer;
}
.percent-fatness__label::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 17px;
  width: 21px;
  height: 21px;
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.percent-fatness__label:hover::before {
  border: 2px solid #ffffff;
}
.percent-fatness__percent:checked + .percent-fatness__label::before {
  background: #ffffff;
  background-clip: content-box;
}
.percent-fatness__percent:disabled + .percent-fatness__label {
  opacity: 0.5;
}
.percent-fatness__percent:disabled + .percent-fatness__label:hover::before {
  border: 1px solid #ffffff;
}
/* filter-filling */

.filter__filling {
  width: 703px;
  height: 37px;
  box-sizing: border-box;
  font-size: 0;
}
.filling-chose__check {
  display: none;
}
.filling-chose__label {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  padding-left: 48px;
  margin-top: 10px;
  margin-right: 5px;
}
.filling-chose__label::before,
.filling-chose__label::after {
  content: '';
  position: absolute;
}
.filling-chose__label::before {
  top: -1px;
  left: 16px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.filling-chose__label:hover::before {
  border: 1px solid rgba(255, 255, 255, 1);
}
.filling-chose__check:disabled + .filling-chose__label {
  opacity: 0.5;
}
.filling-chose__check:disabled + .filling-chose__label:hover::before {
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.filling-chose__check:checked + .filling-chose__label::after {
  width: 9px;
  height: 5px;
  top: 4px;
  left: 21px;
  border: 2px solid #ffffff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
/* filter-sub */

.filter__sub {
  border: none;
  box-shadow: 0 0 0 2px #ffffff;
  padding: 8px 27px;
  margin-top: 2px;
}
.filter__sub:hover {
  background: #ffffff;
  color: #323232;
}
.filter__sub:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  color: #323232;
  border: none;
  outline: none;
}
/* block */

.block {
  width: 560px;
  border-radius: 14px;
}
/* banner */

.banner__container {
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner__container::after {
  content: '';
  display: table;
  clear: both;
}
.banner {
  min-height: 229px;
  float: left;
  position: relative;
}
.banner1 {
  background: #6d1627 url(../img/raspberry_background.jpg) no-repeat top center;
  background-size: cover;
  margin-right: 26px;
}
.banner2 {
  background: #4d3329 url(../img/chocolate_background.jpg) no-repeat top center;
  background-size: cover;
}
.banner__content {
  padding: 17px 19px;
}
.banner__caption {
  margin: 0;
  padding-bottom: 15px;
}
.banner__content p {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 700;
}
.banner__btn {
  float: right;
  padding: 10px 22px;
  margin-right: 2px;
  margin-top: 44px;
  margin-bottom: 20px;
}
/* ice-cream */

.ice-cream__container {
  margin-bottom: 40px;
}
.catalog .ice-cream__container {
  margin-bottom: 37px;
}
.ice-cream__container::after {
  content: '';
  display: table;
  clear: both;
}
.ice-cream {
  width: 267px;
  float: left;
  position: relative;
}
.ice-cream:not(:nth-child(4)) {
  margin-right: 26px;
}
.ice-cream__content {
  position: relative;
}
.ice-cream__preview {
  margin: 0;
  padding: 0;
}
.hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
}
.ice-cream__price {
  position: absolute;
  top: 210px;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.ruble {
  font-size: 30px;
  line-height: 45px;
}
.ruble::before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 37px;
  background: url(../img/p.svg) no-repeat 100% 5px;
  margin-left: -8px;
}
.ice-cream__content p {
  margin: 0;
  padding: 0 5px;
  padding-top: 7px;
  text-align: center;
}
.ice-cream__link {
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}
/* ice-cream__hidden */

.ice-cream__hidden {
  display: none;
  position: absolute;
  top: -7px;
  left: -6px;
  right: -6px;
  bottom: -76px;
  border-radius: 5px;
  background: rgba(247, 246, 243, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.ice-cream:hover .ice-cream__hidden {
  display: block;
}
.ice-cream:hover .ice-cream__content {
  z-index: 2;
}
.ice-cream:hover .ice-cream__link {
  border: none;
}
.ice-cream-hidden__btn {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 38px;
  bottom: 22px;
  padding: 11px 18px;
  border: none;
  border-radius: 35px;
}
/* main-info */

.main-info {
  width: auto;
  background: #e8dabd url(../img/waffle_background.gif) repeat 100% 100%;
  margin-bottom: 40px;
}
.main-info__container {
  padding: 23px 20px;
}
.main-info__caption {
  margin: 0;
}
.main-info__content {
  -webkit-column-gap: 26px;
  -moz-column-gap: 26px;
  column-gap: 26px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.main-info__text {
  position: relative;
}
.ice-lolly::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../img/ice_cream_lolly.svg) no-repeat 100% 100%;
}
.leaf::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../img/leaflet.svg) no-repeat 100% 100%;
}
.cow::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../img/cow.svg) no-repeat 100% 100%;
}
.thermometer::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 48px;
  height: 48px;
  background: url(../img/thermometer.svg) no-repeat 100% 100%;
}
.main-info__content p {
  text-align: left;
  padding-top: 22px;
  padding-left: 58px;
  margin: 0;
}
/* container-block */

.container-block {
  margin-bottom: 40px;
}
.container-block::after {
  content: '';
  display: table;
  clear: both;
}
/* blog */

.blog {
  height: 220px;
  background: #ffffff url(../img/strawberry_background.png) no-repeat 100% 100%;
  float: left;
  margin-right: 26px;
}
.blog__content {
  padding: 24px 19px;
}
.blog__text {
  font-weight: 500;
}
.blog__caption {
  width: 281px;
  margin: 0;
  padding-top: 4px;
  text-align: left;
  font-weight: 700;
}
.blog__link {
  color: #323232;
}
/* subscription */

.subscription {
  min-height: 220px;
  background: #fbd2ca url(../img/mail_background.png) no-repeat 100% 100%;
  background-size: cover;
  float: left;
  font-size: 0;
}
.subscription__content {
  width: auto;
  height: auto;
  position: relative;
  background: #f8f7f4;
  padding: 29px 20px;
  margin: 5px;
  color: #5a5a5a;
}
.subscription__content p {
  margin: 0;
  padding-bottom: 37px;
  font-size: 16px;
}
.subscription__e-mail {
  width: 352px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  ;
  margin-bottom: 6px;
}
.subscription__btn {
  margin-left: 12px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 19px;
}
/* location */

.location {
  width: 1200px;
  margin-left: -27px;
  position: relative;
  margin-bottom: 30px;
}
.location::before {
  content: url(../img/pin-with-shadow.png);
  display: block;
  width: 80px;
  height: 140px;
  position: absolute;
  top: 140px;
  right: 854px;
}
.location__map {
  margin: 0;
  padding: 0;
}
.location__map img {
  width: 1200px;
  height: 430px;
}
.location-info {
  width: 302px;
  background: #ffffff;
  position: absolute;
  top: 63px;
  right: 27px;
}
.location-info__feedback {
  padding: 29px 25px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 20px;
}
.location-info__text {
  text-align: left;
}
.location-info__address {
  padding-bottom: 18px;
}
.location-info__text-address {
  padding-top: 1px;
}
.location-info__text-phone {
  padding-top: 4px;
  padding-bottom: 2px;
}
.location-info__text--bold {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.location-info__btn {
  border: none;
  display: inline-block;
  vertical-align: top;
  margin-left: 26px;
  margin-bottom: 31px;
  padding: 10px 27px;
}
/* pages */

.pages__container {
  margin-top: 83px;
  margin-bottom: 66px;
}
.pages__container::after {
  content: '';
  display: table;
  clear: both;
}
.pages {
  float: right;
  font-size: 0;
}
.pages__navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pages__item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 6px;
}
.pages__item:nth-last-child(3) {
  margin-left: 2px;
  margin-right: 2px;
}
.pages__item:nth-last-child(4) {
  margin-left: 2px;
}
.pages__item:nth-last-child(5) {
  margin-left: 2px;
}
.pages__item:nth-last-child(6) {
  margin-left: 1px;
}
.pages__link:not(.arrow) {
  display: block;
  padding: 4px 9px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
.pages__link:hover:not(.arrow) {
  background: rgba(255, 255, 255, 0.2);
}
.pages__link:active:not(.arrow) {
  background: #ffffff;
  color: #323232;
}
.catalog .pages__link--active {
  background: #ffffff;
  color: #323232;
}
.catalog .pages__link--active:hover {
  background: #ffffff;
  color: #323232;
}
.arrow {
  display: block;
  width: 9px;
  height: 10px;
  margin-top: 5px;
  border: 2px solid #ffffff;
}
.pages__back {
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0.5;
}
.pages__back:hover {
  opacity: 1;
}
.pages__next {
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pages__next:hover {
  opacity: 0.5;
}
/* footer */

.footer {
  padding-bottom: 30px;
}
.footer__container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.footer__container::after {
  content: '';
  display: table;
  clear: both;
}
/* social */

.social {
  width: 267px;
  float: left;
  margin-right: 26px;
  font-size: 0;
}
.social__btn {
  width: 31px;
  height: 31px;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  opacity: 0.9;
}
.social__btn:not(:last-child) {
  margin-right: 10px;
}
.social__btn:hover {
  opacity: 1;
}
.social__btn:active {
  box-shadow: inset 0 3px 1px 0 #888888;
  opacity: 0.8;
}
.twiter {
  background: url(../img/twiter.svg) no-repeat 100% 100%;
}
.instagram {
  background: url(../img/insta.svg) no-repeat 100% 100%;
}
.fecebook {
  background: url(../img/fb.svg) no-repeat 100% 100%;
}
.vk {
  background: url(../img/vk.svg) no-repeat 100% 100%;
}
/* footer-info */

.footer-info {
  width: 560px;
  float: left;
  margin-right: 26px;
}
.footer-info__list {
  margin: 0;
  margin-top: -2px;
  padding: 0;
  font-size: 0;
  float: left;
  list-style: none;
}
.footer-info__list:not(:last-child) {
  margin-right: 31px;
}
.footer-info__list1 {
  position: relative;
  padding-left: 129px;
}
.footer-info__list1::before {
  content: '';
  width: 15px;
  height: 13px;
  position: absolute;
  top: 2px;
  left: 107px;
  background: url(../img/heart.svg) no-repeat 100% 100%;
}
.footer-info__item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}
.footer-info__link {
  color: rgba(225, 225, 225, 0.9);
  text-decoration: none;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}
.footer-info__text--bold {
  color: #ffffff;
  font-weight: 700;
}
/* copiright */

.copiright {
  width: 267px;
  float: left;
  white-space: nowrap;
}
.copiright__container {
  padding-left: 79px;
}
.copiright__logo {
  margin: 0;
  padding: 0;
  margin-top: -17px;
}
.copiright__logo img {
  width: 108px;
  height: 38px;
}
.copiright__text {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  font-weight: 400;
  margin-top: -2px;
}
.copiright__link {
  color: #fefefe;
}
/* feedbsck */

.feedback-wraper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.feedback {
  position: fixed;
  top: 43px;
  left: 439px;
  width: 478px;
  height: 443px;
  box-sizing: border-box;
  padding: 11px 23px;
  background: #f8f7f4;
  border-radius: 10px;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}
.feedback__text {
  margin-bottom: 18px;
}
.feedback__text--bold {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}
.feedback-form__input {
  font-size: 16px;
  font-weight: 400;
  padding-top: 11px;
  padding-bottom: 11px;
}
.feedback-form__name {
  width: 250px;
  margin-bottom: 18px;
}
.feedback-form__email {
  width: 250px;
  margin-bottom: 20px;
}
.feedback-form__comment {
  width: 412px;
  height: 136px;
  padding-top: 6px;
  margin-bottom: 17px;
}
.feedback-form__btn {
  float: right;
  margin-right: 2px;
  padding: 11px 25px;
}
.feedback-form__btn::after {
  content: '';
  display: table;
  clear: both;
}
.feedback__close {
  width: 18px;
  height: 17px;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: pointer;
}
.feedback__close::before,
.feedback__close::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 21px;
  height: 2px;
  background: #000000;
}
.feedback__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feedback__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.feedback__close:hover::before,
.feedback__close:hover::after {
  opacity: 0.5;
}
